#1. Introduction to Python

# What do we need language ?
Language is one of the most important parts of any culture. It is the way by which people communicate with one another, build relationships, and create a sense of community.

# What is a Typed language ?

Typed languages can be classified into two categories -

1. Statically typed languages
2. Dynamically typed languages

# 1. Statically typed languages -
Statically typed languages are the languages like C, C++, Java, etc, In this type of language the data type of a variable is known at the compile time which means the programmer has to specify the data type of a variable at the time of its declaration. We have to pre-define the return type of function as well as the type of variable it is taking or accepting for further evaluations.

In [ ]:
# str info = "Data"
# int data = 20
# float result = 32.0

# 2. Dynamically typed languages -
These are the languages that do not require any pre-defined data type for any variable as it is interpreted at runtime by the machine itself. In these languages, interpreters assign the data type to a variable at runtime depending on its value. We don’t even need to specify the type of variable that a function is returning or accepting in these languages. JavaScript, Python, Ruby, Perl, etc are examples of dynamically typed languages.

In [ ]:
info = 20
data = 20.145
result = "Data Scientist"

# What is Python?
Python is a high-level, general-purpose, and very popular programming language. Python programming language (latest Python 3.13.1) is being used in web development, and Machine Learning applications, along with all cutting-edge technology in Software Industry. Python language is being used by almost all tech-giant companies like – Google, Amazon, Facebook, Instagram, Dropbox, Uber… etc.

# Python Feature -

1. Simple and Easy to Learn
2. Interpreted
3. High-Level
4. Dynamic Typing
5. Strong Typing
6. Extensive Standard Library
7. Cross-Platform
8. Community and Ecosystem
9. Versatile

In [ ]:
# This line prints "Hello World!" to the console using double quote

print("Hello World!")

Hello World!

In [ ]:
# This line prints 'Hello World!' to the console using single quote

print('Hello World!')

Hello World!

In [ ]:
# Double quote and single quote cannot used simultaneously.

print('Hello World!")

SyntaxError: unterminated string literal (detected at line 3) (<ipython-input-26-24a7842d1f6b>, line 3)

In [1]:
# Python is a case-sensitive language, and here the error is because of the capital P in print.

Print("Hello World!")

NameError: name 'Print' is not defined

In [ ]:
print("Hello Vrushabh! Welcome to the world of programming !!")

Hello Vrushabh! Welcome to the world of programming !!

In [2]:
# Print the word "Hello"

print("Hello")

# Print two blank lines for spacing

print()
print()

# Print the word "World!"

print("World!")

Hello


World!

In [ ]:
# Print a greeting message

print("Hello")

# Print an empty line

print("")

# Print another empty line

print("")

# Print the final message

print("World!")

Hello


World!

In [ ]:
# Print the word "Hello" to the console

print("Hello")

# Print a single space to the console

print(" ")

# Print another single space to the console

print(" ")

# Print the word "World!" to the console

print("World!")

Hello


World!

In [ ]:
# This line of code adds two numbers, 10 and 5, and prints their sum.

print(10 + 5)

15

In [ ]:
# This code prints the string "10 + 5" exactly as it appears, without performing any arithmetic calculation.

print("10 + 5")

10 + 5

In [ ]:
# Subtract 5 from 10 and print the result

print(10 - 5)

5

In [ ]:
# Multiplying 10 by 5 and printing the result

print(10 * 5)

50

In [ ]:
# The division operator (/) always returns a float in Python, even if both operands are integers.
# So, when dividing 10 by 5, the result is 2.0 instead of 2.

print(10 / 5)

2.0

In [ ]:
# Perform integer division of 10 by 5 and print the result

print(10 // 5)

2

In [ ]:
# Perform floor division on 10.0 by 2.
# Floor division returns the largest integer less than or equal to the result.
# In this case, 10.0 divided by 2 is 5.0, so the result is 5.0.

print(10.0 // 2)

5.0

In [ ]:
# Using floor division (//) to divide -10.0 by 3.
# Floor division returns the largest integer less than or equal to the result.
# Since -10.0 divided by 3 is approximately -3.33, floor division will round down to -4.

print(-10.0 // 3)  # Output will be -4.0

-4.0

In [ ]:
# This code prints the string "10 / 5" exactly as it appears, without performing any arithmetic calculation.

print("10 / 5")

10 / 5

In [ ]:
'''


DEFAULT VALUES -

   sep = " "   -- Space
   end = "\n"  -- New Line


'''

# Assignment Problems -

# Problem 1

In [ ]:
'''
Problem Description -

Print the following text in the output -

Hello

World !
Note : There is a empty line you need print between Hello and World !

'''
# 1st way

# Printing "Hello"

print("Hello")

# Printing an empty line using print() with no arguments

print()

# Printing "World !" on the next line

print("World !")

Hello

World !

In [ ]:
# 2nd way

# Printing "Hello" and specifying an empty string separator, with a newline character

print("Hello", "", sep="\n")

# Printing "World !" on the next line

print("World !")

Hello

World !

# Problem 2

In [ ]:
'''
Problem Description -

Print the following text -

Hello 40
50 World !

'''
# Print the first line of text - "Hello 40"

print("Hello 40")

# Print the second line of text - "50 World !"

print("50 World !")

Hello 40
50 World !

# Problem 3

In [ ]:
'''
Problem Description -

Print the following text.

Hello
World !

'''
# 1st Way

# Prints "Hello" on a new line

print("Hello")

# Prints "World !" on a new line

print("World !")

Hello
World !

In [ ]:
# 2nd Way

# The 'sep' argument ensures each string is printed on a new line

print("Hello", "World !", sep="\n")

Hello
World !

In [ ]:
# 3rd Way

# The "\n" inserts a newline between the two strings

print("Hello", "\nWorld !")

Hello
World !

# Problem 4

In [ ]:
'''
Problem Description -

Print "Hello World !" in the output.

'''

# This line of code prints the string "Hello World !" to the console.

print("Hello World !")

Hello World !

# Problem 5

In [ ]:
'''
Problem Description -

Your task is to print the pattern given below.

*
**
***
****
*****
******

The output is in the same format as shown in the problem description.

'''
# 1st Way

#  Prints a single star on the first line

print("*")

# Prints two stars on the second line

print("**")

# Prints three stars on the third line

print("***")
#  Prints four stars on the fourth line

print("****")

#  Prints five stars on the fifth line

print("*****")

# Prints six stars on the sixth line

print("******")

*
**
***
****
*****
******

In [ ]:
# 2nd Way

# Prints the pattern with each line separated by a newline

print("*","\n**","\n***","\n****","\n******","\n*******")

*
**
***
****
******
*******

# Problem 6

In [ ]:
'''

Problem Description -

Take two strings "str1" and "str2" as input. Then your task is to concatenate the two strings and print the resultant
concatenated string.

Sample Input -

str1 = Scaler
str2 = Academy

Output - ScalerAcademy

'''
# 1st way

# Taking the first string input from the user

str1 = input()

# Taking the second string input from the user

str2 = input()

# Concatenating the two strings and storing the result in str3

str3 = str1 + str2

# Printing the concatenated string (str1 + str2)

print(str3)

Scaler
Academy
ScalerAcademy

In [ ]:
# 2nd Way

# Taking the first string input from the user

str1 = input()

# Taking the second string input from the user

str2 = input()

# Directly printing the concatenated result of str1 and str2

print(str1 + str2)

Scaler
Academy
ScalerAcademy

# Additional Problems -

# Problem 1

In [4]:
'''
Problem Description -

Print first 5 odd numbers i.e. 1, 3, 5, 7, 9.

Print first five odd numbers separated by space.

'''
# This code prints the first five odd numbers: 1, 3, 5, 7, and 9.
# The 'sep=" "' argument ensures that the numbers are separated by a space when printed.

print(1, 3, 5, 7, 9, sep=" ")

1 3 5 7 9

In [5]:
# 2nd Way

# Printing the numbers without using `sep`, which will default to space between the numbers.

print(1, 3, 5, 7, 9)

1 3 5 7 9

# Problem 2

In [ ]:
'''
Problem Description -

Perform the following operations on 6 and 3 and print their respective outputs in different lines.
1. Addition
2. Subtraction
3. Multiplication
4. Division

Print the output of 6 + 3, 6 - 3, 6 * 3, 6 / 3 in separate lines

'''
# 1 way

# Addition of 6 and 3

print(6 + 3)

# Subtraction of 6 and 3

print(6 - 3)

# Multiplication of 6 and 3

print(6 * 3)

# Division of 6 by 3

print(6 / 3)

9
3
18
2.0

In [ ]:
# 2 way

#  Using `sep="\n"` to print results in separate lines

print(6 + 3 , 6 - 3 , 6 * 3 , 6 / 3 , sep = "\n")

9
3
18
2.0

In [ ]:
# Rounding off function
# round(print(1234.1245),2)

data = 1245.1545
value = round(data,2)
print(value)

1245.15

In [ ]:
# Positive rounding

info = 12484.15489849
result = round(info,3)
print(result)

12484.155

In [ ]:
# Negative rounding

temp = 12484.15489849
output = round(temp,-2)
print(output)

12500.0

# Problem 3

In [ ]:
'''
Problem Description -

Print first 5 even numbers i.e. 0, 2, 4, 6, 8.


Output Format -
Print first five even numbers separated by space.

'''

# 1st Way

# Using the `sep` parameter of the `print` function to specify space between the numbers.

print(0, 2, 4, 6, 8, sep=" ")

0 2 4 6 8

In [ ]:
# 2nd Way

# Printing the numbers without using `sep`, which will default to space between the numbers.

print(0, 2, 4, 6, 8)

0 2 4 6 8

In [ ]:
print("*","\n**")
print()
print()
print("*\n","**")

*
**


*
 **

In [ ]:
print("   *  ","\n"," ***")

   *
  ***

# Problem 4

In [ ]:
'''
Problem Description -

Write a program to print the pattern given below.

   *
  ***
 *****
*******

The output format should be same as the problem description.

'''
# 1st Way

# Printing the first row with spaces followed by the star (*)

print("    *    \n","  ***  \n"," ***** \n","*******\n")

    *
   ***
  *****
 *******

In [ ]:
# 2nd Way

# First row with one star and leading spaces

print("   *   ")

# Second row with three stars and leading spaces

print("  ***  ")

# Third row with five stars and leading spaces

print(" ***** ")

# Fourth row with seven stars (no spaces)

print("*******")

   *
  ***
 *****
*******