# 2. Data Types

# Data Types :-
Python supports various data types, including integers, floats, strings, lists, tuples, dictionaries, and more.

A. Numeric :-
1. Integers - Whole numbers without decimals.
2. Floats - Numbers with decimals.
3. Complex - Numbers with both real and imaginary parts.

B. Dictionary

C. Boolean

D. Set

E. Sequence / Collection Type :-
1. Strings - Text enclosed in single or double quotes.
2. Lists - Ordered collections of items.
3. Tuples - Immutable collections of items.

# Rules for Python variables :-

*   A Python variable name must start with a letter or the underscore character.
  
*   A Python variable name cannot start with a number.

*   A Python variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).

*  Variable in Python names are case-sensitive (name, Name, and NAME are three different variables).


*   The reserved words(keywords) in Python cannot be used to name the variable in Python.

In [ ]:
'''
How to define variable ?

'''

variable1 = 12154     # correct way
_variable1 = 12154    # correct way

1variable = 12154     # wrong way
$variable = 12154     # wrong way
variable* = 12154     # wrong way
variable$ = 12154     # wrong way

SyntaxError: invalid decimal literal (<ipython-input-28-27216045d063>, line 9)

In [ ]:
# Here are the 3 examples. Which options are correct ?

'''

1. Example

print = 7
print(print)

2. Example

PRINT = 7
print(PRINT)

3. Example

Data-Squad = 7
print(Data-Squad)

'''

# Option 2, is correct.

# How to check data types ?

In [ ]:
# This code prints the data type of the value 2.12 using the built-in type() function.

print(type(2.12))

<class 'float'>

In [ ]:
# The code attempts to print the type of the boolean value `False`.
# However, the `Type` should be written as `type` (case-sensitive) to correctly call the Python built-in `type` function.

print(Type(False))

NameError: name 'Type' is not defined

In [ ]:
# This code prints the data type of the boolean value `False` using the `type()` function.

print(type(False))

<class 'bool'>

In [ ]:
# The code checks the type of the value `true`. However, `true` is not written correctly.
# Python is case-sensitive

print(type(true))

NameError: name 'true' is not defined

In [ ]:
# This code prints the data type of the boolean value `True` using the `type()` function.

print(type(True))

<class 'bool'>

In [ ]:
# The code checks and prints the data type of the string "True".

print(type("True"))

<class 'str'>

In [ ]:
# The print() function displays the output "Data Science" on the screen,
# but it does not return or store any value.
# Instead, it returns None, which is the type of the result.

type(print("Data Science"))

Data Science

NoneType

# Type Casting in Python (Implicit and Explicit) :-

Type Casting is the method to convert the Python variable datatype into a certain data type in order to perform the required operation by users.

# There can be two types of Type Casting in Python

1. Python Implicit Type Conversion
2. Python Explicit Type Conversion

# 1. Implicit Type Conversion in Python
In this, method, Python converts the datatype into another datatype automatically. Users donâ€™t have to involve in this process.

In [ ]:
# Ask the user to input a value and store it in the variable 'Data'.

Data = input()

# Note: The input() function always returns the input as a string type.

print(type(Data))

52.36
<class 'str'>

In [ ]:
# Ask the user to input a value and store it in the variable `Num`.
# The input() function always returns the input as a string in Python.

Num = input()

# Print the type of the variable `Num` to demonstrate that the input is stored as a string by default.

print(type(Num))

data
<class 'str'>

In [ ]:
# Assigning the value 12 to the variable 'Value' and printing the type of the variable

Value = 12
print(type(Value))

<class 'int'>

In [ ]:
# Assigning the value 2.0 to the variable 'Data' and printing the type of the variable

Data = 2.0
print(type(Data))

<class 'float'>

In [ ]:
# Assigning the value True to the variable 'Info' and printing the type of the variable

Info = True
print(type(Info))

<class 'bool'>

In [ ]:
# Assigning the value Data Science to the variable 'Result' and printing the type of the variable

Result = "Data Science"
print(type(Result))

<class 'str'>

# 2. Explicit Type Conversion in Python

# In this method, Python needs user involvement to convert the variable data type into the required data type.

Mainly type casting can be done with these data type functions -

1. Int() - Python int() function take float or string as an argument and returns int type object.

2. float() - Python float() function take int or string as an argument and return float type object.

3. str() -  Python str() function takes float or int as an argument and returns string type object.

In [ ]:
# Taking an integer input from the user and storing it in the variable 'Info

Info = int(input())

# Printing the value entered by the user

print(Info)

45
45

In [ ]:
# Taking an float input from the user and storing it in the variable 'Info

Info = float(input())

# Printing the value entered by the user

print(Info)

45.2368
45.2368

In [ ]:
# Convert the string 'Num' to an integer and print the result

Num = "10"
print(int(Num))

10

In [ ]:
# convert the string 'Data' to an integer using the int() function.
# This will raise a ValueError because 'xyz' is not a valid integer string.

Data = "xyz"
print(int(Data))

ValueError: invalid literal for int() with base 10: 'xyz'

In [ ]:
# Convert the string 'Num' to an float and print the result

Num = "10"
print(float(Num))

10.0

# Practice Questions

In [ ]:
# Assigning the value 8.87 to the variable 'Data'

Data = 8.87

# Converting 'Data' to an integer (removing the decimal part) and adding 1 to it

Science = int(Data) + 1

# Printing the result of 'Science'

print(Science)

9

In [ ]:
# Initialize a variable Num_1 with the value 8

Num_1 = 8

# Convert Num_1 to a string, concatenate it with the string representation of the number 1
# and store the result in Num_2

Num_2 = str(Num_1) + 1

# Print the value of Num_2 (This will result in a TypeError, as '1' is an integer and cannot be concatenated with a string)

print(Num_2)

TypeError: can only concatenate str (not "int") to str

# Use of sep and end :-

In [ ]:
# The following code prints the numbers 4, 5, 6, and 7, followed by the string "bce".
# The 'sep' parameter is set to "+" to insert a "+" between each value instead of the default space.

print(4, 5, 6, 7, "bce", sep = "+")

4+5+6+7+bce

In [ ]:
# The first print statement outputs "Hello" and keeps the cursor on the same line by using 'end="join"'

print("Hello", end = "join")


# The second print statement then outputs "Data Scientist" on the same line as the first print statement

print("Data Scientist")

HellojoinData Scientist

In [ ]:
# The print() function is used to display the values 1, 2, 3, 4, and 5 on separate lines.
# The 'sep' parameter is set to "\n", which adds a newline between each value, causing them to appear on different lines

print(1, 2, 3, 4, 5, sep = "\n")

1
2
3
4
5

In [ ]:
# The following code prints a list of words with specified separators and end characters
# - "Python", "Sql", "Numpy", "Pandas" are printed with "Science" as a separator between them.
# - The output is ended with the character "t" instead of the default newline.
# - Then, it prints the word "Tensorflow" on a new line.

print("Python", "Sql", "Numpy", "Pandas", sep = "Science", end = "t")
print("\nTensorflow")

PythonScienceSqlScienceNumpySciencePandast
Tensorflow

In [ ]:
# Printing words with "Science" as the separator and ending with "t" instead of the default newline

print("Python", "Sql", "Numpy", "Pandas", sep = "Science", end = "t\n")

# Printing the word "Tensorflow" on a new line

print("Tensorflow")

PythonScienceSqlScienceNumpySciencePandast
Tensorflow

In [ ]:
# Tricky code

# This code prints a sequence of strings with specific separator and end characters.
# The strings "Python", "Sql", "Numpy", and "Pandas" are separated by the word "Science".
# The output ends with "t/n" instead of the default newline, and the next print statement prints "Tensorflow".

print("Python", "Sql", "Numpy", "Pandas", sep = "Science", end = "t/n")
print("Tensorflow")

PythonScienceSqlScienceNumpySciencePandast/nTensorflow

In [ ]:
# Tricky code

# Printing a string of stars followed by a tab and a string "python" without a newline at the end

print("*****\t*", end = "python")

# Printing "sql" with a "+" as a separator

print("sql", sep = "+")

# Printing "hello data scientist" with " ++++" as a separator between characters

print("hello data scientist", sep = " ++++ ")

*****	*pythonsql
hello data scientist

In [ ]:
# Tricky code

# Printing asterisks followed by a tab and the word "python" without a newline

print("*****\t*", end = "python")

# Printing the word "sql" with a "+" separator between characters

print("sql", sep = "+")

# Printing the words "hello", "data", and "scientist" with a "++++" separator between them

print("hello", "data", "scientist", sep = " ++++ ")

*****	*pythonsql
hello ++++ data ++++ scientist

In [ ]:
# Tricky code
# Print asterisks followed by a tab and then the string 'python' without moving to the next line

print("*****\t*", end = "python")

# Print 'sql' with a '+' separator between elements (though no other element is given here)

print("sql", sep = "+")

# Print 'hello', 'data', and 'scientist' separated by a space, then print ' ++++' without a newline

print("hello", "data", "scientist", end = " ++++ ")

*****	*pythonsql
hello data scientist ++++

In [ ]:
# Taking input for the first string

Str_1 = input()

# Taking input for the second string

Str_2 = input()

# Concatenating the two strings and printing the result

print(Str_1 + Str_2)

Data
Science
DataScience

In [ ]:
# Taking input from the user for the first integer value

Num_1 = int(input("Enter a first valid integer value - "))

# Taking input from the user for the second integer value

Num_2 = int(input("Enter a second valid integer value - "))

# Calculating the sum of both numbers

Sum = Num_1 + Num_2

# Displaying the result of the sum

print("SUM IS -", Sum)

Enter a first valid integer value - 10
Enter a second valid integer value - 20
SUM IS - 30

In [ ]:
# Ask the user to enter the first integer value and convert it to an integer

Value_1 = int(input("Enter a first valid integer value - "))

# Ask the user to enter the second integer value and convert it to an integer

Value_2 = int(input("Enter a second valid integer value - "))

# Calculate and print the result of raising Value_1 to the power of Value_2

print(Value_1 ** Value_2)

Enter a first valid integer value - 10
Enter a second valid integer value - 2
100

# Intresting Concepts :-

In [ ]:
# The code converts the float value -8.123 to an integer by truncating the decimal part.

Value = -8.123
print(int(Value))

-8

In [ ]:
# Convert the floating-point number Num to an integer and print the result

Num = 5.0
print(int(Num))

5

In [ ]:
# Convert the string 'Data' to an integer and print the result

Data = "5"
print(int(Data))

5

In [ ]:
# The variable 'Value' is assigned a string containing a floating-point number.
# The 'int()' function is used to convert the string 'Value' to an integer.

Value = "5.0"
print(int(Value))

ValueError: invalid literal for int() with base 10: '5.0'

In [ ]:
# How to solve above error in code

# Convert the string "5.0" to a float, then cast it to an integer and print the result

Value = "5.0"
print(int(float(Value)))

5

# Assignment Problems

# Problem 1

In [ ]:
'''
Problem Description -

Take a name A as input from the user and print "Hello A", where A is the name in input.

Problem Constraints
1 <= len(A) <= 15 Characters in A are in lowercase English Alphabets.

Input Format
There is a single input line, which is the string **A**.

Output Format
Print in a single line "Hello A" without quotes.

Example Input
Input 1:-
Ram

Input 2:-
Shyam

Example Output
Output 1:-
Hello Ram

Output 2:-
Hello Shyam

'''
# Take user input and store it in the variable 'Name'

Name = input()

# Print a greeting message along with the user's input

print("Hello", Name)

Ram
Hello Ram

# Problem 2

In [ ]:
'''

Problem Description -

Print the first five letters of the English alphabet i.e. A, B, C, D and E.


Output Format
Print the characters in separate lines.


Example Output
A
B
C
D
E

'''

# This code prints the letters "A", "B", "C", "D", and "E" each on a new line.
# The `sep="\n"` argument specifies that the output should be separated by a newline character.

print("A", "B", "C", "D", "E", sep = "\n")

A
B
C
D
E

# Problem 3

In [ ]:
'''

Problem Description -

Given two numbers A and B. Concatenate the two numbers and print it.


Problem Constraints
1 <= A, B <= 104


Input Format
There are two input lines
The first line has a single integer A.
The second line has a single integer B.


Output Format
Print in a single line the concatenated number.


Example Input
Input 1:-
4
5

Input 2:-
16
2


Example Output
Output 1:-
45

Output 2:-
162


Example Explanation
Explanation 1:-
Concatenation of 4 and 5 is 45.

Explanation 2:-
Concatenation of 16 and 2 is 162.

'''
# Taking input from the user and storing it in the variable Num_1

Num_1 = input()

# Taking input from the user and storing it in the variable Num_2

Num_2 = input()

# Concatenating the strings stored in Num_1 and Num_2 and storing the result in Num_3

Num_3 = Num_1 + Num_2

# Printing the concatenated result stored in Num_3

print(Num_3)

4
5
45

# Problem 4

In [ ]:
'''

Problem Description -

Take two names A and B as input from the user, print "A says Hi to B" (Without quotations), where A and B are the names in input.

Problem Constraints
1 <= len(A), len(B) <= 15
Characters in A and B are in lowercase English Alphabets.


Input Format
There are two input lines
The first line has a string A.
The second line has a string B.


Output Format
Print in a single line A says Hi to B.


Example Input
Input:-
Ram
Shyam


Example Output
Output:-
Ram says Hi to Shyam

'''

# Take the first input from the user and store it in str_1.

str_1 = input()

# Take the second input from the user and store it in str_2.

str_2 = input()

# Attempt to print a message where 'str_1' greets 'str_2'.

print(str_1, "says Hi to", str_2)

Ram
Shyam
Ram says Hi to Shyam

# Problem 5

In [ ]:
'''

What will be the output of the following piece of code?

a = "13.56"
print(float(a))

Options -

1. 14
2. 13.56
3. Error

'''

# Option 2 - 13.56

# Additional Problems

# Problem 1

In [ ]:
'''

Problem Description -

You're going to write some code to help you cook a gorgeous lasagna from your favorite cookbook.
According to your cookbook, the Lasagna should be in the oven for 40 minutes.
Given the time (in minutes), the lasagna has been in the oven, find how many more minutes the lasagna still needs to bake for.


Problem Constraints
0 <= N <= 40


Input Format
The only first line contains the integer N, denoting the actual time (in minutes) the lasagna has been in the oven for.


Output Format
Print in a single line how many minutes the lasagna needs to bake.


Example Input
Input:
30


Example Output
Output:
10


Example Explanation
Note: The problem constraints mean that when we test your code, the test cases used in the backend can have input values only within those constraints.
You need not implement them in your code.You need to make sure your code will work for all such input values!

'''

# Initialize a variable `Given_time` with a fixed value of 40

Given_time = 40

# Take user input for `Actual_time`, convert it to an integer, and store it in the variable `Actual_time`

Actual_time = int(input())

# Calculate the difference between `Given_time` and `Actual_time`, then print the result

print(Given_time - Actual_time)

30
10

# Problem 2

In [ ]:
'''

Problem Description -

You'll write some code to help you cook a gorgeous lasagna from your favorite cookbook.
Now, you also want to add a few layers to the lasagna.
Assume **each layer takes 2 minutes** to prepare. Given the number of layers you want to add to the lasagna, find how many minutes you would spend making them.


Input Format
The only first line contains the integer N denoting the number of layers.


Output Format
Print in a single line how many minutes are required to prepare N layers.


Example Input
Input:-
2

Example Output
Output:-
4


Example Explanation
Note: The problem constraints mean that when we test your code, the test cases used in the backend can have input values only within those constraints.
You need not implement them in your code. You must ensure your code will work for all such input values!

'''

# Taking the number of layers as input from the user

Number_of_layers = int(input())

# Defining the time required to bake each layer in minutes

Each_layers_time = 2

# Calculating the total baking time based on the number of layers

Baking_time = Number_of_layers * Each_layers_time

# Printing the total baking time

print(Baking_time)

2
4

# Problem 3

In [ ]:
'''

Problem Description -

You wrote some code to help you cook a gorgeous lasagna from your favorite cookbook.
Now, you want to find the total number of minutes you've been cooking for the sum of your preparation time and the time the lasagna has already spent baking in the oven.
The preparation time of one layer is 2 minutes.
Given the number of layers added to the lasagna and the number of minutes the lasagna has been baking in the oven,
find the total elapsed cooking time (prep + bake) in minutes.


Problem Constraints
1 <= N <= 20
0 <= M <= 40


Input Format
There are 2 lines in the input.
The first line contains the integer N denoting the number of layers.
The second line contains the integer M denoting the time the lasagna has already spent baking in the oven.


Output Format
Print in a single line the total elapsed cooking time.


Example Input
Input 1:-
3
20

Input 2:-
1
29


Example Output
Output 1:-
26

Output 2:-
31

'''

# Input the number of layers

Number_of_layers = int(input())

# Input the baking time required (in minutes)

Baking_time = int(input())

# Define the time taken to bake one layer (in minutes)

One_layer_time = 2

# Calculate the total time required (time for all layers + baking time)

print((One_layer_time * Number_of_layers) + Baking_time)

3
20
26

# Problem 4

In [ ]:
'''

Problem Description -

Your friend Rahul plans to visit exotic countries all around the world. Sadly, Rahul's math skills aren't good enough.
Take the amount of money Rahul has before the currency exchange and the amount of money that is spent from his savings as input,
print the amount of money that remains in his savings.

Input Format
The first line contains an integer N denoting the total savings, the amount of money before exchange.
The second line contains an integer M denoting the exchanging amount, denoting the amount of money that is spent from the savings.

Output Format
Print a single line denoting the amount of money that is left in his savings.

Problem Constraints
1 <= N <= 1000
1 <= M <= N

Example Input
Input:-
116
12

Example Output
Output:-
104

Note: The problem constraints mean that when we test your code, the test cases used in the backend can have input values only within those constraints.
You need not implement them in your code. You must ensure your code will work for all such input values!

'''

# Input: Accept the total savings amount from the user

Total_savings = int(input())

# Input: Accept the exchanging amount from the user

Exchanging_amount = int(input())

# Calculate the remaining money after subtracting the exchanging amount from total savings

Money_left = Total_savings - Exchanging_amount

# Output: Print the remaining money

print(Money_left)

116
12
104

# Problem 5

In [ ]:
'''

Problem Description -

Given the value of a single bill and the number of bills you received, print the total value of the bills.

Note: The value of all the bills are same


Problem Constraints
1 <= N <= 100
1 <= M <= 100


Input Format
The first line of the input is an integer N denoting the value of a single bill.
The second line of the input is an integer M denoting the number of bills.


Output Format
Print in a single line denoting the total value of bills.


Example Input
Input:-
12
10


Example Output
Output:-
120


Example Explanation
Note: The problem constraints mean that when we test your code, the test cases used in the backend can have input values only within those constraints.
You need not implement them in your code. You need to make sure your code will work for all such input values!

'''

# Input the value of a single bill from the user and convert it to an integer

Value_of_a_single_bill = int(input())

# Input the number of bills from the user and convert it to an integer

Number_of_bills = int(input())

# Calculate the total value of the bills by multiplying the value of a single bill with the number of bills

Total_value_of_bills = Value_of_a_single_bill * Number_of_bills

# Print the calculated total value of the bills

print(Total_value_of_bills)

12
10
120

# Extra Problems

# Problem 1

In [ ]:
'''
Problem Description -

Take 5 subject marks from user and display average

'''

# Initialize marks for each subject

# Marks in Mathematics

m_math = 68

# Marks in English

m_eng = 75

# Marks in Physics

m_phy = 85

# Marks in Chemistry

m_chem = 95

# Marks in Biology

m_bio = 80

# Calculate the total marks obtained

TOTAL = m_math + m_eng + m_phy + m_chem + m_bio

# Calculate the percentage based on the total marks obtained and maximum possible marks (500)

Percentage = (TOTAL / 500) * 100

# Display the percentage rounded to one decimal place

print("Your percentage is", round(Percentage, 1), "%")

Your percentage is 80.6 %

# Problem 2

In [ ]:
'''
Problem Description -

How to find quotient and remainder of number

'''

# Ask the user to enter the first integer value and convert it to an integer

Num_1 = int(input())

# Ask the user to enter the second integer value and convert it to an integer

Num_2 = int(input())

# Perform division and print the result

print(Num_1 / Num_2)

# Calculate and print the quotient using floor division

print("Quotient = ", Num_1 // Num_2)

# Calculate and print the remainder using the modulus operator

print("Remainder = ", Num_1 % Num_2)

10
2
5.0
Quotient =  5
Remainder =  0