# 3. Operators

# Python Operators :-
In Python programming, Operators in general are used to perform operations on values and variables. These are standard symbols used for logical and arithmetic operations.


# OPERATORS :-
These are the special symbols. Eg - + , - , * , /, etc.

# OPERAND :-
It is the value on which the operator is applied.

In [ ]:
'''
# What is the output if user enters an input: 8.87

'''

# Ask the user to enter a value and convert the input to a floating-point number

User_value = float(input())

# Convert the floating-point number to an integer by truncating the decimal part

New_value = int(User_value)

# Add 2 to the integer value and print the result

print(New_value + 2)

8.87
10

# 1. Arithmetic Operators :-
Python Arithmetic operators are used to perform basic mathematical operations like addition, subtraction, multiplication, and division.


A. Addition (+) - Adds two operands

B. Subtraction (-) - Subtracts two operands

C. Multiplication(*) - Multiplies two operands

D. Division (/) - Divides the first operand by the second

E. Division (//) - Divides the first operand by the second

F. Modulus (%) - Returns the remainder when the first operand is divided by the second

G. Power(**) - Returns first raised to power second

In [ ]:
# This code calculates the sum of 10 and 3 and prints the result.

print(10 + 3)

13

In [ ]:
# This code performs a simple subtraction operation where 3 is subtracted from 10 and pritns the result

print(10 - 3)

7

In [ ]:
# This code multiplies the integer 10 by 3 and prints the result.

print(10 * 3)

30

In [ ]:
# This line of code subtracts the value 3 from 10.0 and outputs the result.

print(10.0 - 3)

7.0

In [ ]:
# This line of code multiplies the integer 10 by the floating-point number 3.0, resulting in a floating-point value.

print(10 * 3.0)

30.0

In [ ]:
# This code demonstrates the use of the floating-point division operator (/) in Python.
# It divides the number 10 by 2 and returns the result as a floating-point number.

print(10 / 2)

5.0

In [ ]:
# This code calculates and prints the result of dividing 10 by 3.

print(10 / 3)

3.3333333333333335

In [ ]:
# This code demonstrates the use of the exponentiation operator (**).
# It calculates 10 raised to the power of 5 (10^5) and prints the result.

print(10 ** 5)

100000

In [ ]:
# This code calculates the result of raising 2 to the power of 3 (2^3).
# The `**` operator in Python is used for exponentiation.

print(2 ** 3)

8

In [ ]:
# This code calculates the square root of 9 using exponentiation (9 raised to the power of 0.5)

print(9 ** 0.5)

3.0

In [ ]:
# Floored Division Operator ( // )
# This operator divides 10 by 3 and returns the floor value of the result, which is the largest integer less than or equal to the result.

print(10 // 3)

3

In [ ]:
# The following code performs floor division of 10 by 4,
# which returns the largest integer less than or equal to the result.
# In this case, 10 divided by 4 equals 2.5, so the floor division returns 2.

print(10 // 4)

2

In [ ]:
# The floor division operator (//) is used to divide -10 by 4 and return the largest integer less than or equal to the result
# In this case, -10 divided by 4 is -2.5, and the floor division will round it down to the next lower integer, which is -3

print(-10 // 4)

-3

In [ ]:
# The following line performs floor division of -10 by 4.
# The result will be rounded down to the nearest integer.

print(-10 // 4)

-3

In [ ]:
# The modulus operator (%) returns the remainder when the first number is divided by the second number.
# In this case, 10 divided by 3 leaves a remainder of 1, so the output will be 1.

print(10 % 3)

1

In [ ]:
# This code calculates the remainder when 10 is divided by 4

print(10 % 4)

2

In [ ]:
# This code calculates the remainder when 10 is divided by 5

print(10 % 5)

0

# BODMAS / PEMDAS rule

In [ ]:
print(10 - 4 * 2 + 5 - 6 // 2)

# First, multiplication (*) and floor division (//) are performed due to operator precedence.
# 4 * 2 = 8 and 6 // 2 = 3
# The expression becomes: 10 - 8 + 5 - 3
# Next, subtraction and addition are performed from left to right.
# 10 - 8 = 2, and then 2 + 5 = 7, and finally 7 - 3 = 4
# The result is 4

# OR

# 10 - 8 + 5 - 6 // 2
# 10 - 8 + 5 - 3
# 2 + 5 - 3
# 7 - 3
# 4

4

In [ ]:
Result = 10 - 5 * 8 / 2 ** 3
print(Result)

# The expression calculates the result of 10 minus 5 multiplied by 8, divided by 2 raised to the power of 3.
# The operator precedence follows PEMDAS (Parentheses, Exponents, Multiplication and Division, Addition and Subtraction)
# First, 2 ** 3 (2 raised to the power of 3) is calculated, followed by the division of 8 by the result of 2 ** 3,
# then the multiplication of 5 by the result of the division, and finally 10 minus the result of the multiplication.

5.0

In [ ]:
# Boolean (binary) representation of floating point numbers -> 2.6

print(1.2 + 1.4 + 1.6)

4.199999999999999

In [ ]:
print(1.4 + 1.6 + 1.2)

4.2

'''
# Boolean Values (TRUTHY and FALSY) :-

    - Numbers
        - Any non zero number = TRUTHY
        - 0 = FALSY

    - Strings
        - Any non empty string = TRUTHY
        - Empty string = FALSY

    - None = FALSY
'''

In [ ]:
# The bool() function converts the value inside it to a boolean. In this case, 1 is converted to True since any non-zero number is considered True in Python

print(bool(1))

True

In [ ]:
# The bool() function is used to convert the value -1 to a boolean.
# In Python, any non-zero value is considered as True, so -1 will be converted to True.

print(bool(-1))

True

In [ ]:
# The bool() function is used to convert the given number (2134567890987654323456789765432) to its boolean equivalent.
# In Python, any non-zero number is considered True. Therefore, the result will be True.

print(bool(2134567890987654323456789765432))

True

In [ ]:
# This line converts the floating point number 6.7890 to its boolean equivalent.
# In Python, any non-zero number is evaluated as True. Therefore, the output will be True.

print(bool(6.7890))

True

In [ ]:
# This code prints the boolean value of 0. In Python, 0 is considered False when converted to a boolean.

print(bool(0))

False

In [ ]:
# The bool() function is used to convert the value 0.0 to a boolean.
# In Python, 0.0 is considered as False, so the output will be False.

print(bool(0.0))

False

In [ ]:
# Printing the boolean value of -0, which will be False in Python as 0 is considered False

print(bool(-0))

False

In [ ]:
# The bool() function converts a value to its corresponding boolean value.
# In this case, 0.1 is a non-zero number, which is considered 'True' in a boolean context.Therefore, the output will be True.

print(bool(0.1))

True

In [ ]:
# The bool() function converts the provided string into a boolean value.
# Since the string is non-empty, it evaluates to True.

print(bool("any non empty string!"))

True

In [ ]:
# This code checks if the string contains any non-whitespace characters.
# The bool() function returns False if the string is empty or contains only whitespace,
# and True if the string contains any other characters.

print(bool(" "))

True

In [ ]:
# The bool() function returns False for an empty string
# An empty string is considered "falsy" in Python
# This will print 'False'

print(bool(""))

False

In [ ]:
# The code prints the boolean value of None, which is evaluated as False in Python.

print(bool(None))

False

In [ ]:
# The bool() function converts the string "False" to a boolean value.
# In Python, non-empty strings are considered as True, so this will True

print(bool("False"))

True

In [ ]:
# This code prints the boolean value of False

print(bool(False))

False

# How to find floor value and ceil value of any number ?

# Floor Value - To find the floor value of any number, always look to the LEFT SIDE / LOWER SIDE of the number line.

# Ceil Value - To find the floor value of any number, always look to the RIGHT SIDE / UPPER SIDE of the number line.

In [ ]:
print(24 // 5)

4

In [ ]:
print(-23 // 2)

-12

In [ ]:
print(-10 // 3)

-4

In [ ]:
print(10 // 3)

3

In [ ]:
print(-30 // -3)

10

# If both values are of float type, the result will be a float, regardless of whether you use the / operator or // operator.

In [ ]:
print(10.0 // 2.0)

5.0

In [ ]:
print(-10.0 // 3.0)

-4.0

In [ ]:
print(-12.0 // 7.0)

-2.0

In [ ]:
print(25.0 // 6.0)

4.0

In [ ]:
print(-25.0 // 6.0)

-5.0

# 2. Comparison Operators :-

It can be used with various data types, including numbers, strings, booleans, and more. In Python, comparison operators are used to compare the values of two operands (elements being compared). When comparing strings, the comparison is based on the alphabetical order of their characters (lexicographic order)

A. Equal to (==) - True if both operands are equal

B. Not equal to (!=) - True if operands are not equal

C. Greater than (>) - True if the left operand is greater than the right

D. Less than (<) - True if the left operand is less than the right

E. Greater than or equal to (>=) - True if left operand is greater than or equal to the right

F. Less than or equal to (<=) - True if left operand is less than or equal to the right

In [ ]:
# This code checks if the number 5 is equal to 4 and prints the result (which will be False).

print(5 == 4)

False

In [ ]:
# Check if 5 is equal to 5 and prints the result (True).

print(5 == 5)

True

In [ ]:
# This line checks if 5 is equal to 6, which will return False.

print(5 == 6)

False

In [ ]:
# This code evaluates whether 5 is not equal to 6 and prints the result (True).

print(5 != 6)

True

In [ ]:
# This code checks if the string "string1" is equal to the string "string1" and prints the result (True).

print("string1" == "string1")

True

In [ ]:
# How to check the actual password and user password

# Ask the user to enter their actual password

actual_password = input("Please enter your password - ")

# Ask the user to re-enter their password for verification

user_input = input("Please re - enter your password - ")

# Check if the re-entered password matches the actual password

user_input == actual_password

Please enter your password - vrushabh
Please re - enter your password - vrushabh

True

In [ ]:
# The following code compares two strings "abc" and "xyz" lexicographically
# It checks if "abc" is greater than "xyz" based on the Unicode values of the characters
# The result will be a boolean value (True or False) indicating whether "abc" is lexicographically greater than "xyz"

print("abc" > "xyz")

False

In [ ]:
# This code compares the strings "aab" and "aaa" lexicographically (alphabetical order).
# It checks if "aab" is greater than "aaa". The comparison is done based on the ASCII values of the characters in the strings.

print("aab" > "aaa")

True

In [ ]:
# This code checks if 12 is less than 20 and returns a boolean value (True).

print(12 < 20)

True

In [ ]:
# This code checks if -12 is less than -20 and prints the result (False in this case)

print(-12 < -20)

False

In [ ]:
# This code checks if the value 1.00 is greater than 1.00 and prints the result (False)

print(1.00 > 1.00)

False

In [ ]:
# This code checks if 1.00 is greater than or equal to 1.00 and prints the result, which will be True.

print(1.00 >= 1.00)

True

# Chaining comparison operators :-

In [ ]:
# Initialize a variable Info with the value 5

Info  = 5

# The expression checks if Info is less than or equal to 9 and greater than 10.

print(10 > Info <= 9)

True

In [ ]:
# Initialize a variable Data with the value 5

Data = 5

# The expression checks if Data is less than or equal to 9 and greater than 10.

print(1 < Data < 10)

True

In [ ]:
# Initialize a variable Data with the value 5

Data = 5

# Check if 4 is less than Data and Data is not equal to 5

print(4 < Data != 5)

False

In [ ]:
# Initialize a variable Python with the value 5

Python = 5

# This line evaluates whether Python is less than 10, and also checks if Python multiplied by 10 is equal to 50.

print(Python < 10 < Python * 10 == 50)

True

# 3. Assignment Operators :-

A. =  - Assign the value of the right side of the expression to the left side operand

B. += - Add right side operand with left side operand and then assign the result to left operand

C. -=  - Subtract right side operand from left side operand and then assign the result to left operand

D. *=  - Multiply right operand with left operand and then assign the result to the left operand

E. /=  - Divide left operand with right operand and then assign the result to the left operand

F. %=  - Divides the left operand with the right operand and then assign the remainder to the left operand

G. //=  - Divide left operand with right operand and then assign the value(floor) to left operand

H. **= - Calculate exponent(raise power) value using operands and then assign the result to left operand

In [ ]:
# Assigning the value 10 to the variable 'Data'

Data = 10

# Assigning the current value of 'Data' (which is 10) to the variable 'Value'

Value = Data

# Changing the value of 'Data' to 20

Data = 20

# Printing the value of 'Value', which still holds the original value of 'Data' (10)

print(Value)

10

In [ ]:
# Assigning the value 10 to the variable 'Data'

Data = 10

# Adding 50 to the current value of 'Data' and updating it

Data = Data + 50

# Printing the updated value of 'Data'

print(Data)

60

In [ ]:
# Taking an integer input from the user and storing it in the variable 'Value'

Value = int(input())

# Adding 50 to the input value and storing the result in 'New_value'

New_value = Value + 50

# Printing the new value after addition

print(New_value)

25
75

# Shorthand operators - += ,-= ,*= , /= , **= , // =

In [ ]:
# Taking an integer input from the user and storing it in the variable 'Value'

Value = int(input())

# Adding 50 to the value of 'Value'

Value += 50

# Printing the updated value of 'Value'

print(Value)

20
70

In [ ]:
# Assigns the value 50 to the variable 'Python'

Python = 50

# Subtracts 10 from the value of 'Python' and updates the value of 'Python'

Python -= 10

# Prints the current value of 'Python', which is 40

print(Python)

40

In [ ]:
# Initialize the variable SQL with a value of 20

SQL = 20

# Multiply the value of SQL by 2 and assign the result back to SQL

SQL *= 2

# Print the final value of SQL after the multiplication

print(SQL)

40

In [ ]:
# Initialize a variable 'Tableau' with the value 20

Tableau = 20

# Reassign the value of 'Tableau' to its square (Tableau squared)

Tableau **= 2

# Print the updated value of 'Tableau' which is 400 (20 squared)

print(Tableau)

400

# 4. Logical Operators :-

A. and - True if both the operands are true

B. or - True if either of the operands is true

C. not -  True if the operand is false

In [ ]:
print(True and False)

False

In [ ]:
print(True and True)

True

In [ ]:
print(False or True)

True

In [ ]:
print(False or False)

False

In [ ]:
print(not True)

False

In [ ]:
print(not False)

True

# "and" operator
# If the first value is False -> Return that value
# If the first value is True -> Return the second value

In [ ]:
print(True and 10)

10

In [ ]:
print(10 and True)

True

In [ ]:
print(0 and True)

0

In [ ]:
print(False and 10)

False

In [ ]:
print(True and 1)

1

In [ ]:
print(True and 0)

0

In [ ]:
print(True and "string!")

string!

In [ ]:
print((10 % 2) and False)

0

In [ ]:
print(10.0 and False)

False

In [ ]:
print(False and 10.0)

False

In [ ]:
print("Data" and "Science")

Science

# "or" operator
# If the first value is True -> Return that value
# If the first value is False -> Return the second value

In [ ]:
print(True or False)

True

In [ ]:
print(True or 0)

True

In [ ]:
print(True or 10)

True

In [ ]:
print(False or 10)

10

In [ ]:
print(False or 0)

0

In [ ]:
print(False or "")

In [ ]:
print(10 or 2)

10

In [ ]:
# Tricky question

print("Python" and False or  10 and 20 and 30 and "Data" or "SQL" and "Value")

Data

In [ ]:
# Tricky question

print("Python" or "Tableau" or "SQL" or "Numpy" or "Pandas" or "Tensorflow" and "Excel" and "Data" or "Science")

Python

In [ ]:
# Tricky question

print("Python" and "Tableau" or "Data" and "Value" or "Pandas" or "Tensorflow" and "Pytorch" and "Excel" or "SQL")

Tableau

In [ ]:
print(False or True and "SQL" or 20 or 50 and 6.0 and "Pytorch" and "Data" or "Data scientist")

SQL

In [ ]:
print(bool(0.000000000000000000000000000010000000000000) == True)

True

In [ ]:
print(bool(0.00000000000000000000002) == False)

False

In [ ]:
print(bool(-4152))

True

In [ ]:
# True == 1
# The code checks if the comparison of -60000 with True evaluates to True or False.
# Since -60000 is not equal to 1 (the value of True in Python), the comparison evaluates to False.
# Finally, the bool() function is applied to the result of the comparison, but it remains False.

print(bool(-60000 == True))

False

In [ ]:
# The expression (-0.0000001 == True) evaluates to False because -0.0000001 is a non-zero number,
# and in Python, only 1 is strictly equal to True. As a result, bool(False) is returned.

print(bool(-0.0000001 == True))

False

# Assignment Problems

# Problem 1

In [ ]:
'''
Problem Description -

Print the result of the following expression:

(3 + 4) // 2 + 6

'''

# This line calculates the result of an arithmetic expression and prints it.
# (3 + 4) adds the two numbers, resulting in 7.
# // 2 performs integer (floor) division on 7, resulting in 3.
# + 6 adds 6 to the result of the division, resulting in 9.
# The final output of the print statement is 9.

print(9)

9

# Problem 2

In [ ]:
'''
Problem Description -

Set the value of variable a, b and c such that the following condition evaluates to true:

a = -1 # change this
b = -1 # change this
c = -1 # change this

# DO NOT CHANGE THIS
x = a < b + c

print(x) # this should be True

'''

# Variable 'a' initialized with a value of 1 (modifiable).

a = 1

# Variable 'b' initialized with a value of 1 (modifiable).

b = 1

# Variable 'c' initialized with a value of 1 (modifiable).

c = 1

# DO NOT CHANGE THIS

# Evaluates whether 'a' is less than the sum of 'b' and 'c', and assigns the result (True/False) to 'x'.

x = a < b + c

# Prints the value of 'x' (True/False) to the console.

print(x)

True

# Problem 3

In [ ]:
'''
Problem Description -

What is the result of the following expression in Python ?

'''

# This code concatenates two strings "54" and "23" using the + operator.
# The result will be "5423", as the + operator combines the strings without performing any arithmetic operations.

print("54" + "23")

5423

# Problem 4

In [ ]:
'''
Problem Description -

What is the result of the following expression in Python ?

'''

# The code checks if the boolean value True is equal to the integer 1.
# In Python, True is treated as 1 when compared with integers, so the result will be True.

print(True == 1)

True

# Problem 5

In [ ]:
'''
Problem Description -

What is the result of the following expression in Python ?

'''

# This line checks for equality between a string "1" and an integer 1. Since they are of different data types, the result will be False.

print("1" == 1)

False

# Problem 6

In [ ]:
'''
Problem Description -

What is the output for the following statements ?

'''
# Dividing 55 by 11 and storing the result in variable x

x = 55 / 11

# Printing the value of x

print(x)

5.0

# Additional Problems

# Problem 1

In [ ]:
'''
Problem Description -

Given total bills amount and amount of a single bill. Print number of bills.

Note - The total amount is equally splitted in all bills. The number of bills should be an integer value.

Input Format -
The first line contains a real number N denoting the total budget.
The second line contains an integer M denoting the value of a single bill.

Output Format -
Print in a single line denoting the total number of bills that can fit in the total budget.
Problem Constraints

Example Input

Input -
126.3
5
Example Output

Output -
25

'''

# Take the total bill amount as a float input from the user

Totol_bills_amount = float(input())

# Take the amount of a single bill as an integer input from the user

Single_bill_amount = int(input())

# Calculate and print the number of single bills that can fit into the total bill amount

print(int(Totol_bills_amount / Single_bill_amount))

126.3
5
25

# Problem 2

In [ ]:
'''
Problem Description -

What is the output of the following code?

'''

# Multiply 50 by 2
# Add the result to the division of (60 - 20) by 4

x = 50 * 2 + (60 - 20) / 4

# Print the value of x, which holds the result of the above expression

print(x)

110.0

# Problem 3

In [ ]:
'''
Problem Description -

What is the value of result at the end of the following code?

'''

# Initialize variable x with value 20

x = 20

# Initialize variable y with value 5

y = 5

# Perform arithmetic operation using the values of x and y,
# where True is treated as 1 and False as 0. The result is calculated by adding 1 to x and dividing it by the result of (4 - (y * 0)).

result = (x + True) / (4 - y * False)

# Print the result of the above calculation

print(result)

5.25

# Problem 4

In [ ]:
'''
Problem Description -

A group of spammers is troubling Varun by calling on his mobile phone repeatedly.
After a while, Varun observed a pattern that the mobile number from which the spammers call him is always lesser than his mobile number when compared on the number line.
The mobile number of Varun is 1234880990. Given a mobile number as an input print True if the number belongs to the spammers else False.

Input Format
The input will be a single integer representing a mobile number.

Output Format
The output would be True if the condition holds else False

Sample Input
9999999999

Sample Output
False

Note: All the mobile numbers in this problem are hypothetical

'''

# Taking mobile number as input and converting it into an integer

Mobile_number = int(input())

# Comparing the input mobile number with a specific number (1234880990)
# If the input number is less than 1234880990, print True; otherwise, print False

if 1234880990 > Mobile_number :
    print(True)
else :
    print(False)

9999999999
False

# Problem 5

In [ ]:
'''
Problem Description -

You are asked to verify whether a given person is eligible to vote or not in the upcoming elections.

Take the citizenship and age of the person as input.

If his/her citizenship is "Indian" and age is greater than or equal to 18, then print True else print False.

Input Format
string
int

Output Format
boolean

Input Sample
American
18

Output Sample
False

'''
# Get the citizenship status from the user input

Citizenship = input()

# Get the age from the user input and convert it to an integer

Age = int(input())

# Check if the user is an Indian citizen and is 18 years or older
# Print True if both conditions are met
# Print False if either condition is not met

if Citizenship == "Indian" and Age >= 18:
    print(True)
else :
    print(False)

American
18
False

# Extra Problems

# Problem 1

In [ ]:
# Logical operator - and

# Initialize Value_1 to the result of 5 > 4 (True)

Value_1 = 5 > 4

# Initialize Value_2 to the result of 5 >= 3 (True)

Value_2 = 5 >= 3

# Initialize Value_3 to the result of comparing 6 to 6.0 for equality (True)

Value_3 = (6 == 6.0)

# Print the values of Value_1, Value_2, and Value_3

print(Value_1 , Value_2 ,Value_3)

# Print the result of the logical AND operation on Value_1, Value_2, and Value_3 (True if all are True)

print(Value_1 and Value_2 and Value_3)

True True True
True

# Problem 2

In [ ]:
# Assigning values to variables Value_1 and Value_2

# The first value is set to 100

Value_1 = 100

# The second value is set to 200

Value_2 = 200

# Printing the sum of Value_1 and Value_2, followed by their string concatenation
# The first part prints the result of the addition (100 + 200 = 300)
# The second part prints the concatenated string of 'Value_1' and 'Value_2' ("100" + "200" = "100200")

print(Value_1 + Value_2, str(Value_1) + str(Value_2))

300 100200

# Problem 3

In [ ]:
# Ask the user to enter a positive integer N
# Print the largest N-digit number
# Print the smallest N-digit number

# Taking input from the user for the number of digits

N = int(input())

# Printing the largest N-digit number by repeating '9' N times

print("The largest", N, "- digit number =", str(9) * N)

# Printing the smallest N-digit number by combining '1' with (N-1) zeros

print("The smallest", N, "- digit number =", str(1) + str(0) * (N - 1))

5
The largest 5 - digit number = 99999
The smallest 5 - digit number = 10000

# Problem 4

In [ ]:
# Define a variable 'Name' and assign the string "Vrushabh" to it

Name = "Vrushabh"

# Multiply the string stored in 'Name' by 5, which repeats the string 5 times

print(Name * 5)

VrushabhVrushabhVrushabhVrushabhVrushabh

# Problem 5

In [ ]:
# Logical operator - or

# Comparing the values and storing the boolean results in variables

# True, because 5 is greater than 4

Num_1 = 5 > 4

# True, because 5 is greater than or equal to 3

Num_2 = 5 >= 3

# False, because 6 is not equal to 6.5

Num_3 = (6 == 6.5)

# Printing the values of Num_1, Num_2, and Num_3
 # Output: True True False

print(Num_1 , Num_2 , Num_3)

# Using 'or' to evaluate the logical expression and printing the result
# Output: True, because 'or' returns the first True value

print(Num_1 or Num_2 or Num_3)

True True False
True

# Problem 6

In [ ]:
# What is the result of following expression

# The expression evaluates if 10 is greater than 8, or less than 8, or equal to 8.
# The result will be True because (10 > 8) is True, and the 'or' operator returns True if any condition is true.

Result = (10 > 8) or (10 < 8) or (10 == 8)
print(Result)

True