# 7. Iteration - For Loop

# Python For Loops:

Python **for loops** are used for iterating over a sequence, such as **lists**, **tuples**, **strings**, and **ranges**.

### Key Features of For Loops:
- **Apply Operations Efficiently:** A `for` loop allows you to apply the same operation to every item in the loop.  
- **No Need for Manual Indexing:** Using a `for` loop avoids the need to manually manage the index.  
- **Works with Any Iterable:** A `for` loop can iterate over any iterable object, such as **dictionaries**, **lists**, or custom **iterators**.
- **Iterables:** Collections that can be iterated over, such as strings, ranges, lists, and tuples.

In [ ]:
# Looping through each character in the string "HELLO"

for Value in "HELLO" :

    # This will print the word "Data" for each character in the string

    print("Data")

Data
Data
Data
Data
Data

In [ ]:
# Iterating over each character in the string "A "

for Value in "A " :

    # This will print "Python" for each character in the string

    print("Python")

Python
Python

In [ ]:
# Iterating over each character in the string "A B"

for Value in "A B" :

    # This will print "Tableau" for each character in the string
    # Since "A B" has 3 characters ('A', ' ', 'B'), "Tableau" will be printed 3 times

    print("Tableau")

Tableau
Tableau
Tableau

In [ ]:
# This code attempts to iterate over an empty string. Since the string is empty, the loop body will not execute, and nothing will be printed.

for Value in "" :
  print("Data")

In [ ]:
# Looping through each character in the string "HELLO"

for Value in "HELLO":

    # Printing the current character stored in the variable 'Value'

    print(Value)

H
E
L
L
O

In [ ]:
# This loop iterates over each character in the string "ABC" and prints it one by one.

for Data in "ABC":
  print(Data)

A
B
C

In [ ]:
# Iterating through each character in the string "12"

for Data in "12":
    print(Data)  # Printing the current character in the iteration

# After the loop, printing the data type of the variable 'Data'

print(type(Data))  # This will output <class 'str'> since 'Data' holds a character from the string

1
2
<class 'str'>

In [ ]:
# Looping through each character in the string "HELLO"

for Value in "HELLO":

    # Printing each character followed by a comma, without moving to a new line

    print(Value, end = ",")

H,E,L,L,O,

In [ ]:
# What if I tamper with the iterable in a for loop?

# Initializing the variable 'Result' with the string "Python"

Result = "Python"

# Starting a for loop to iterate over each character in 'Result'
# In Python, the for loop creates an iterator at the start,
# so changes to 'Result' inside the loop won't affect the iteration.

for view in Result :

  # This will print "Hello, Data Analyst" for each character in the original 'Result' ("Python")

  print("Hello, Data Analyst")

  # Modifying 'Result' to "SQL" inside the loop
  # However, this change does NOT affect the current iteration
  # because the for loop is based on the original iterable ("Python").

  Result = "SQL"

Hello, Data Analyst
Hello, Data Analyst
Hello, Data Analyst
Hello, Data Analyst
Hello, Data Analyst
Hello, Data Analyst

In [ ]:
'''
Print all integers from 1 to N using for loop. (N to be included)
Take N as input from the user.

'''
# Ask the user to enter a positive integer and convert the input to an integer

Num = int(input("Enter a positive integer - "))

# Loop from 1 to the entered number (inclusive)
# range(1, Num + 1, 1) means:
# - Start from 1
# - Go up to Num (inclusive because of Num + 1)
# - Increment by 1 in each iteration

for Value in range(1, Num + 1, 1) :

    # Print the current Value on the same line, separated by spaces
    # 'end = " "' prevents the output from moving to the next line after each print

    print(Value, end =" ")

Enter a positive integer - 10
1 2 3 4 5 6 7 8 9 10

In [ ]:
'''
Take N as input from the user.
Calculate the sum of all numbers from 1 to N (N is included).

'''
# Ask the user to enter a positive integer and convert the input to an integer type

Num = int(input("Enter a positive integer - "))

# Initialize a variable to store the sum of numbers

Sum = 0

# Loop from 1 to the entered number (inclusive)

for Value in range(1, Num + 1, 1) :

  # Add the current value to the sum

  Sum = Sum + Value

# Display the final sum of all numbers from 1 to the entered number

print("The Sum of all numbers - ", Sum)

Enter a positive integer - 10
The Sum of all numbers -  55

In [ ]:
'''
FACTORIAL ->
Take N an input from the user.
Calculate the product of all numbers from 1 to N (N is included).

'''
# Ask the user to enter a positive integer

Num = int(input("Enter a positive integer - "))

# Initialize the factorial variable to 1

Fact = 1

# Loop from 1 to the entered number (inclusive)

for Value in range(1, Num + 1, 1) :

    # Multiply the current value with the existing factorial

    Fact = Fact * Value

# Print the calculated factorial

print(Fact)

Enter a positive integer - 5
120

In [ ]:
'''
Take N as input from the user.
Calculate the product of all even numbers between 1 and N. Both included.

'''
# Taking a positive integer input from the user

Num = int(input("Enter a positive integer - "))

# Initializing the product variable to 1 (since 1 is the multiplicative identity)

Product = 1

# Looping through all even numbers from 2 to Num (inclusive)
# The range starts from 2, goes up to Num + 1, with a step of 2 (to include only even numbers)

for Value in range(2, Num + 1, 2) :

    # Multiplying the current even number with the existing product

    Product = Product * Value

# Displaying the final product of all even numbers up to the given number

print("Product of all even numbers - ", Product)

Enter a positive integer - 8
Product of all even numbers -  384

In [ ]:
'''
Take start and end as input from the user.
Calculate the product of all even numbers between start and end.
Both included.

GIVEN - Both start and end will be greater than 0.

'''
# 1 Way

# Taking input from the user for the starting value of the range

Start = int(input("Starting value - "))

# Taking input from the user for the ending value of the range

End = int(input("Ending value - "))

# Initializing the product of even numbers to 1 (since 1 is the multiplicative identity)

even_product = 1

# Looping through all numbers from Start to End (inclusive)

for Value in range(Start, End + 1) :

    # Checking if the current number is even

    if Value % 2 == 0:

        # If even, multiply it with the current product

        even_product *= Value

# Printing the final product of all even numbers in the given range

print(even_product)

# Printing the total number of steps (iterations) taken in the loop

print("Number of steps -", len(range(Start, End + 1)))

Starting value - 2
Ending value - 8
384
Number of steps - 7

In [ ]:
# 2 Way

# Taking user input for the starting value

Start = int(input("Starting value - "))

# Taking user input for the ending value

End = int(input("Ending value - "))

# Initializing a variable to store the product of even numbers

even_product = 1

# If the starting value is odd, increment it to make it even

if Start % 2 != 0 :
    Start += 1

# Looping through even numbers from Start to End (inclusive) with step size of 2

for Value in range(Start, End + 1, 2) :
    even_product *= Value  # Multiplying the even numbers

# Printing the final product of even numbers

print(even_product)

# Printing the number of steps taken (count of even numbers in the range)

print("Number of steps -", len(range(Start, End + 1, 2)))

Starting value - 2
Ending value - 8
384
Number of steps - 4

In [ ]:
'''
Print all the numbers from an input N to 1 in reverse order.
N > 1 -> Given

'''
# Prompt the user to enter a positive integer and store it in the variable 'Num'

Num = int(input("Enter a positive integer - "))

# Use a for loop to iterate from 'Num' down to 1 (inclusive), decrementing by 1 in each iteration

for Value in range(Num, 0, -1):

    # Print the current value in the loop on the same line, separated by a space

    print(Value, end=" ")

Enter a positive integer - 10
10 9 8 7 6 5 4 3 2 1

In [ ]:
'''
Print all the numbers from an input N to 1 in reverse order.
Without using a negative jump!
N > 1 -> Given

'''
# Prompt the user to enter a positive integer and convert the input to an integer

Num = int(input("Enter a positive integer - "))

# Loop from 0 to Num - 1 (since range(Num) generates numbers from 0 to Num-1)

for Value in range(Num) :

  # In each iteration, print the result of Num minus the current Value
  # This will print numbers in decreasing order from Num to 1
  # 'end = " "' ensures that the numbers are printed on the same line, separated by spaces

  print(Num - Value, end = " ")

Enter a positive integer - 10
10 9 8 7 6 5 4 3 2 1

In [ ]:
# sum of digits of numerical input N

# Taking input from the user as a string

Num = input()

# Initializing a variable 'Sum' to 0, which will store the sum of digits

Sum = 0

# Iterating through each character (digit) in the input string 'Num'

for Value in Num:

  # Converting the character to an integer and adding it to 'Sum'

  Sum += int(Value)

# Printing the final sum of digits with a label

print("SUM_OF_DIGITS - ", Sum)

31456
SUM_OF_DIGITS -  19

In [ ]:
# What is the output if input is 3005?

A = int(input())
sum = 0
for x in A:
  sum += int(x)
print(sum)

'''
Option -
A. 8
B. Error; because A is not an iterable
C. Error; cannot use int() on another integer x

'''
# Answer - Option B

31456

TypeError: 'int' object is not iterable

### Range Function

In [ ]:
# Single argument to a range function

# It assumes that the single argument is the "stop" value

# This code generates a list of numbers from 0 to 9 using the range() function and prints it.

print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# This code generates a list of numbers starting from -2 up to (but not including) 2, with a step of 2.
# The range(-2, 2, 2) function creates the sequence: -2, 0
# The list() function converts the range object into a list.

print(list(range(-2, 2, 2)))

[-2, 0]

In [ ]:
# This code generates a list of numbers starting from 1 up to (but not including) 7, with a step of 6.
# Since the step is 6, it will include only the first number (1) and the next number (1 + 6 = 7) is not included as 7 is the upper limit.

print(list(range(1, 7, 6)))

[1]

In [ ]:
# This code generates a list of numbers from 1 to 7 (inclusive) using the range() function and prints it.

print(list(range(1, 7 + 1)))

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# This code attempts to create a list of numbers starting from 1 up to (but not including) 10,
# with a step of -1, which is supposed to generate numbers in descending order.
# However, this will result in an empty list because the range() function
# cannot count backwards from a smaller number (1) to a larger number (10) using a negative step.

print(list(range(1, 10, -1)))

[]

In [ ]:
# Prints a list of even numbers from 0 to 20 (inclusive) with a step of 2

print(list(range(0, 20 + 1, 2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# This Python code generates a list of numbers starting from 20, decreasing by 5, and stopping before reaching 0.

print(list(range(20, 0, -5)))

[20, 15, 10, 5]

In [ ]:
# This code generates a list of numbers starting from 7 down to 0 in descending order.
# The range() function is used with three parameters: start (7), stop (-1), and step (-1).
# The sequence stops before reaching -1, so it includes 0 as the last number.

print(list(range(7, -1, -1)))

[7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
# Print "I am great data scientist" 15 times using a for loop

# Define a string variable TEXT with the value "I am great data scientist"

TEXT = "I am great data scientist"

# Loop to iterate 15 times (from 0 to 14)

for Value in range(15) :

  # Print the TEXT variable in each iteration

  print(TEXT)

I am great data scientist
I am great data scientist
I am great data scientist
I am great data scientist
I am great data scientist
I am great data scientist
I am great data scientist
I am great data scientist
I am great data scientist
I am great data scientist
I am great data scientist
I am great data scientist
I am great data scientist
I am great data scientist
I am great data scientist

In [ ]:
# How many lines will this program print?

# Loop through the range starting from 3 up to (but not including) 5

for i in range(3, 5) :

  # Print "HAPPY BIRTHDAY!!!" in each iteration of the loop

  print("HAPPY BIRTHDAY!!!")

HAPPY BIRTHDAY!!!
HAPPY BIRTHDAY!!!

In [ ]:
# How many lines will this program print?

for i in range(3, 5, 2) :
  print("HAPPY BIRTHDAY!!!")

HAPPY BIRTHDAY!!!

In [ ]:
# Print the first 10 positive numbers using a for loop

# Using a for loop to iterate over a range of numbers from 1 to 10 (inclusive)

for value in range(1, 11, 1) :  # range(start=1, stop=11, step=1)

    # Printing the current value in the loop on the same line, separated by spaces

    print(value, end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
# Print the first 10 positive numbers using a for loop (descending order)

# Loop to print numbers from 10 to 1 in descending order

for value in range(10, 0, -1) :  # range(start=10, stop=0, step=-1) generates numbers from 10 to 1
  print(value, end=" ")         # Prints the current value on the same line with a space separator

10 9 8 7 6 5 4 3 2 1

In [ ]:
# Print the first N odd numbers

# Taking an integer input from the user

Num = int(input())

# Looping from 1 to the given number (inclusive)

for value in range(1, Num + 1) :

  # Printing the (2 * value) - 1, which generates the first 'Num' odd numbers

  print((2 * value) -1)

10
1
3
5
7
9
11
13
15
17
19

In [ ]:
# Print the first N odd numbers

# Taking an integer input from the user

Num = int(input())

# Using a for loop to iterate from 1 to Num (inclusive) with a step of 2
# This ensures that only odd numbers are considered (since we start from 1 and increment by 2)

for value in range(1, Num + 1, 2) :

  # Printing the current odd number in the sequence

  print(value)

10
1
3
5
7
9

In [ ]:
# Ask the user to enter two numbers A and B
# Print all numbers between A and B in descending order

# Taking input from the user for the first number and converting it to an integer

Num_1 = int(input("Enter first num - "))

# Taking input from the user for the second number and converting it to an integer

Num_2 = int(input("Enter second num - "))

# Checking which number is bigger and assigning accordingly

if Num_1 > Num_2 :
  Bigger_Num = Num_1  # Assigning the larger number to Bigger_Num
  Smaller_Num = Num_2  # Assigning the smaller number to Smaller_Num
else :
  Bigger_Num = Num_2  # Assigning the larger number to Bigger_Num
  Smaller_Num = Num_1  # Assigning the smaller number to Smaller_Num

# Loop to print numbers in descending order from Bigger_Num to Smaller_Num

for series in range(Bigger_Num, Smaller_Num - 1, -1) :
  print("Descending order -", series)  # Printing each number in the descending sequence

Enter first num - 10
Enter second num - 20
Descending order - 20
Descending order - 19
Descending order - 18
Descending order - 17
Descending order - 16
Descending order - 15
Descending order - 14
Descending order - 13
Descending order - 12
Descending order - 11
Descending order - 10

In [ ]:
# Count how many times the letter "t" appears in a user-given text

# Taking input from the user and storing it in the variable 'Text'

Text = input()

# Initializing a counter variable 'Count' to 0 to keep track of the number of occurrences of the letter 't'

Count = 0

# Iterating through each character in the input text

for Char in Text:

  # Checking if the current character is the letter 't'

  if Char == "t":

    # Incrementing the counter by 1 if the condition is true

    Count = Count + 1

# Displaying the total count of the letter 't' in the input text

print("The letter 't' appeared", Count, "times in your text")

teadjntel
The letter 't' appeared 2 times in your text

## A Glimpse of Pass, Break, and Continue

In [ ]:
# Pass statement

A = 5        # Assigning the integer value 5 to the variable A
pass         # 'pass' is a null operation; it does nothing and is used as a placeholder
print(A)     # Printing the value of variable A, which is 5

5

In [ ]:
# Practical use of pass statement

# Assigning the integer value 6 to the variable Num

Num = 6

# Printing the value of Num to the console

print(Num)

# Iterating through each character in the string "HELLO"

for Value in "HELLO" :

  # Placeholder for future code implementation inside the loop

  pass

# Assigning the integer value 5 to the variable Info

Info = 5
# Printing the value of Info to the console

print(Info)

6
5

In [ ]:
# Break statement

# Initialize the Count variable to 0

Count = 0

# Loop through numbers from 1 to 4 (range(1, 5) generates 1, 2, 3, 4)

for Info in range(1, 5) :

  # Check if the current value of Info is greater than 2

  if Info > 2 :

    # If Info is greater than 2, exit the loop immediately

    break

  # Print the current value of Info

  print(Info)

  # Increment the Count variable by 1

  Count += 1

# This will be printed after the loop ends

print("Outside")

# Print the final value of Count

print("Count -", Count)

1
2
Outside
Count - 2

In [ ]:
#continue statement

# Initializing two variables Num_1 and Num_2 to 0

Num_1 = 0
Num_2 = 0

# Looping through the range from 1 to 4 (inclusive)

for Value in range(1, 5) :

  # Incrementing Num_1 by 1 in each iteration

  Num_1 += 1

  # Checking if the current Value is greater than 2

  if Value > 2 :

    # If condition is true, skip the rest of the loop and continue with the next iteration

    continue

  # Printing the current Value (this will only happen when Value is 1 or 2)

  print(Value)

  # Incrementing Num_2 by 1 (only if Value <= 2)

  Num_2 += 1

# Printing statements after the loop ends

print("Outside")
print("Num_1 - ", Num_1)  # Shows how many times Num_1 was incremented (equal to the number of loop iterations)
print("Num_2 - ", Num_2)  # Shows how many times Num_2 was incremented (only when Value was 1 or 2)

1
2
Outside
Num_1 -  4
Num_2 -  2

In [ ]:
# How many times will the print statement execute ?

# Loop that iterates over the range of numbers from 0 to 3 (total 4 iterations)

for info in range(4) :

  # 'continue' statement skips the remaining code in the loop for the current iteration

  continue

# This line will execute after the loop finishes all iterations

print("K3G")

K3G

In [ ]:
# How many of these statements will print TRUE?

print(bool(0))       # Converts integer 0 to boolean, which is False
print(bool(0.0))     # Converts floating-point 0.0 to boolean, which is False
print(bool(""))       # Converts an empty string to boolean, which is False
print(bool(4 % 2))   # 4 % 2 is 0 (since 4 is divisible by 2), converting 0 to boolean gives False
print(bool(5 % 2))   # 5 % 2 is 1 (remainder of 5 divided by 2), converting 1 to boolean gives True

False
False
False
False
True

# Assignment Problems -

## Problem 1

In [ ]:
# What will be the value of x at the end of each iteration in the given program if executed?

x = 2
for i in range(0, 4):
    if x % 2:
       x = x * 2
    else:
       x = x + 1

# Answer - 3 -> 6 -> 7 -> 14

In [ ]:
# Which of the following codes can be used to find the frequency of even numbers in the range 0 - 10 inclusive ?

'''
A.
print((10//2)+1)

B.
c=0
for i in range(0, 10):
    if i%2:
        c=c+1
print(c)

C.
c=0
for i in range(0, 10):
    if i%2==0:
        c=c+1
print(c)

D.
c=0
for i in range(0, 11):
    if i%2==0:
        c=c+1
print(c)

'''

# Answer - AD


'''
Explanation -

The freq of even numbers is 6

A.
10//2 = 5
10//2 + 1 =6
Correct

B.
Iterate from 0-9 (inclusive)
Increments count for odd number
Wrong

C.
Iterate from 0-9 (inclusive)
Increments count for even number
But we also want to take into account 10
Hence code is Wrong

D
Iterate from 0-10 (inclusive)
Increments count for even number
Hence code is Correct

'''

'\nExplanation -\n \nThe freq of even numbers is 6\n\nA.\n10//2 = 5\n10//2 + 1 =6\nCorrect\n\nB.\nIterate from 0-9 (inclusive)\nIncrements count for odd number\nWrong\n\nC.\nIterate from 0-9 (inclusive)\nIncrements count for even number\nBut we also want to take into account 10\nHence code is Wrong\n\nD\nIterate from 0-10 (inclusive)\nIncrements count for even number\nHence code is Correct\n\n'

In [ ]:
# What would be the output of the following code ?

x = 1
for i in range(x):
    x = x + 1
    print(i, end= " ")
# Answer - 0

0

In [ ]:
# What will be the output of the following code:

for i in range(-6, -10, -1):
     print(i, end =" ")

-6 -7 -8 -9

In [ ]:
'''

Problem Description
Write a program that takes a positive integer N as input from the user and prints all natural numbers from 1 to N, with each number followed by a space (including the last number).


Problem Constraints
1 <= N <= 1000000



Input Format
A single line representing N



Output Format
N space separated integers from 1 to N, with each number followed by a space, including the last number.



Example Input
Input 1:
5

Input 2:
10


Example Output

Output 1:
1 2 3 4 5

Output 2:
1 2 3 4 5 6 7 8 9 10

'''
Num = int(input())
for value in range (1,Num + 1,1) :
  print(value,end = " ")

5
1 2 3 4 5

In [ ]:
'''

Problem Description

Write a program to find sum all Natural numbers from 1 to N where you have to take N as input from user


Problem Constraints

1 <= N <= 1000



Input Format

A single line representing N



Output Format

A single integer showing sum of all Natural numbers from 1 to N



Example Input

Input 1:
5

Input 2:
10


Example Output

Output 1:
15

Output 2:
55


'''

Num = int(input())
SUM = 0
for value in range (1,Num + 1 ,1) :
  SUM += value
print(SUM)

10
55

In [ ]:
'''

Problem Description

Write a program to print all Natural numbers from N to 1 where you have to take N as input from user


Problem Constraints

1 <= N <= 10000000



Input Format

A single line representing N



Output Format

N space separated integers from N to 1.



Example Input

Input 1:
5

Input 2:
10


Example Output

Output 1:
5 4 3 2 1

Output 2:
10 9 8 7 6 5 4 3 2 1

'''

Num =  int(input())
for value in range (Num,0,-1) :
  print(value,end = " ")

5
5 4 3 2 1

# Additional Problems -

In [ ]:
'''

Fill in the missing piece of code to get the value of ‘a’ as 5. (choose the block names)

a = 0
while True:
    ___________
    if a == 5:
        break

A.
a = a+1
a %= 5
a += 1

B.
a = a + 2
a %= 5
a += 1

C.
a = a + 1
a %= 5
a += 2

D.
a = a + 5
a %= 5
a += 5


'''

# Answer - A,B,C,D

In [ ]:
# What will be the output of the following?

'''
i = 0
j = 0
while i <= 2:
   if j%2:
       j += 1
   print(i, ":", j, end=" ")
   i+=1
   j+=1

'''
# Answer - 0:0 1:2 2:4

In [ ]:
# What can be the output of the following code ?

'''
i=0
if i==0:
   pass
   print(i, end=" ")
i+=1
print(i, end=" ")

'''
# Answer - 0 1

In [ ]:
# What will be the output of the following Python code?

for a in range (10) :
  if (a % 3) == 0 :
    continue
  print(a,end = " ")

1 2 4 5 7 8

In [ ]:
# What would be the output of the following ?

i = 0
while i <= 5 :
     if i % 2 :
        pass
     else :
        print(i, end=" ")
     i += 1

0 2 4

In [ ]:
'''

We want to find the Quotient(q), and Remainder(r) of the division of 2 numbers, i.e. x is divided by y.

Which of the following code blocks can be used for this? Assume that the code before blocks is common for all the blocks.

x = int(input())
y = int(input())

q = 0
r = 0

# Block A
while x > y:
    x -= y
    q += 1
print(q, r)

# Block B
while x >= y:
    x -= y
    q += 1
print(q, y)

# Block C
while x >= y:
    x -= y
    q += 1
print(q, x)

'''
# Answer - Block C

In [ ]:
'''

Problem Description

Take an integer A as input. You have to print the sum of all odd numbers in the range [1, A].


Problem Constraints

1 <= A <= 1000



Input Format

First and only line contains a single positive integer A.



Output Format

Print the required sum in a single line.


Example Input

Input 1:
1

Input 2:
4


Example Output

Output 1:
1

Output 2:
4


Example Explanation

Explanation 1:
For A = 1, 1 is the only odd number which lies in the range [1, 1].

Explanation 2:
For A = 4, Odd numbers 1 and 3 lie in the range [1, 4].
Sum = 1 + 3 = 4.

 '''

Num = int(input())
SUM = 0
for value in range(1,Num + 1,2) :
  SUM += value
print(SUM)

4
4

In [ ]:
'''
Problem Description
Given an integer N, print N stars in a single line.

For example if N = 5 then pattern will be like:

*****

Problem Constraints
2 <= N <= 100



Input Format
Single line input contains a single integer N.



Output Format
Output N stars in a single line.



Example Input
Input 1:
2

Input 2:
3


Example Output
Output 1:
**

Output 2:
***


Example Explanation -
Print the pattern as described.

'''
Num = int(input())
print("*" * Num)

3
***