# 8. Iteration - Nested Loops

In [ ]:
# Practical use of break

Num = int(input())
Count = 0
while True :
  print(Num)
  Count += 1
  if Count == Num :
    break

In [ ]:
# Reverse the string - Wrong way

name_1 = input() #string entered by user
name_2 = ""

for value in name_1 :
  print(value)
  name_2 = name_2 + value
print(name_2)

apple
a
p
p
l
e
apple

In [ ]:
# Reverse the string - Right way

name_1 = input() #string entered by user
name_2 = ""

for value in name_1 :
  print(value)
  name_2 = value + name_2
print(name_2)

145236
1
4
5
2
3
6
632541

In [ ]:
# Intresting approach -  Palindrome code
name_1 = input() #string entered by user
name_2 = ""

for value in name_1 :
  print(value)
  name_2 = value + name_2
print(name_2)
if name_1 == name_2 :
  print("Palindrome")
else :
  print("Not Palindrome")

141
1
4
1
141
Palindrome

In [ ]:
for COL in range (1,7) :
  print(COL,end = " ")

1 2 3 4 5 6

In [ ]:
ROW = 6
for ROW in range (1,7,1) :
  print(ROW)

1
2
3
4
5
6

In [ ]:
for ROW in range (1,6) :
  for COL in range (1,ROW + 1) :
    print(COL,end = " ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
N = 6
for value in range (1, 6 + 1) :
  print(value,end = " ")

1 2 3 4 5 6

In [4]:
Name_1 = input()
Name_2 = ""
for Value in Name_1 :
  Name_2 = Value + Name_2
print(Name_2)

if Name_2 == Name_1 :
  print("It is Palindome")
else :
  print("NOOOOOOOOOOOOOOOOOOOOOOOOOOO")

dad
dad
It is Palindome

In [2]:
Num = int(input())
for value in range (1, Num + 1, 1) :
  print(value, end = " ")

6
1 2 3 4 5 6

In [3]:
for ROW in range (1, 6) :
  print(ROW)

1
2
3
4
5

In [6]:
for COL in range (1, 6) :
  print(COL, end = " ")

1 2 3 4 5

In [8]:
for ROW in range (1, 6) :
  for COL in range (1, ROW + 1) :
    print(COL, end = " ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [13]:
for ROW in range (6, 0 , -1) :
  for COL in range (1, ROW + 1) :
    print(COL, end = "_")
  print()

1_2_3_4_5_6_
1_2_3_4_5_
1_2_3_4_
1_2_3_
1_2_
1_

In [15]:
for ROW in range (1, 6) :
  for COL in range (1, ROW + 1) :
    print(COL, end = "")
  print()
for ROW in range (6, 0 , -1) :
  for COL in range (1, ROW + 1) :
    print(COL, end = "")
  print()

1
12
123
1234
12345
123456
12345
1234
123
12
1